<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProcessCommon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ProcessCommon.Properties.Settings>
            <setting name="Alias" serializeAs="String">
                <value>AKiesel</value>
            </setting>
            <setting name="Dev_Registry_addr" serializeAs="String">
                <value>127.0.0.1:12000</value>
            </setting>
            <setting name="Registry_addr" serializeAs="String">
                <value>52.3.213.61:12000</value>
            </setting>
            <setting name="FirstName" serializeAs="String">
                <value>Anthony</value>
            </setting>
            <setting name="LastName" serializeAs="String">
                <value>Kiesel</value>
            </setting>
            <setting name="ANumber" serializeAs="String">
                <value>A01111521</value>
            </setting>
            <setting name="MinPort" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="MaxPort" serializeAs="String">
                <value>20000</value>
            </setting>
            <setting name="Timeout" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="AutoStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Retries" serializeAs="String">
                <value>3</value>
            </setting>
        </ProcessCommon.Properties.Settings>
    </userSettings>
</configuration>